{# src/LeHibouc/EBookLibraryBundle/Resources/views/Default/book.html.twig #}

{% extends "EBookLibraryBundle::layout.html.twig" %}

{% block library_content %}

	<h2> {{ book.title }} 
		<span class="btn btn-default">
			Read
			<i class="glyphicon glyphicon-eye-open"></i>
		</span>
	</h2>

	<h3> by {{ book.author }} </h3>

	<h3> Language : {{ book.language }} </h3>

	<h5> Abstract : </h5>
	<p> {{ book.abstract }} </p>

	{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
		{% if is_granted('ROLE_ADMIN') %}

			<a href="{{ path('library_homepage') }}" class="btn btn-default">
			  <i class="glyphicon glyphicon-chevron-left"></i>
			  Cancel
			</a> 
	
			<a href="{{ path('library_edit_book', {'slug': book.slug}) }}" class="btn btn-default">
			  <i class="glyphicon glyphicon-pencil"></i>
			  Edit
			</a>

			<a href="{{ path('library_delete_book', {'slug': book.slug}) }}" class="btn btn-danger">
			  <i class="glyphicon glyphicon-trash"></i>
			  Delete
			</a>

		{% else %}
			{% if borrowed %}

				<a href="{{ path('user_index') }}" class="btn btn-default">
				  <i class="glyphicon glyphicon-chevron-left"></i>
				  Cancel
				</a> 

				<a href="{{ path('user_return_book', {'slug': book.slug}) }}" class="btn btn-primary">
					Return the book
					<i class="glyphicon glyphicon-log-out"></i>
				</a>

			{% else %}

				<a href="{{ path('library_homepage') }}" class="btn btn-default">
				  <i class="glyphicon glyphicon-chevron-left"></i>
				  Cancel
				</a>

				<a href="{{ path('user_borrow', {'slug': book.slug}) }}" class="btn btn-primary">
					Borrow
					<i class="glyphicon glyphicon-log-in"></i>
				</a>

			{% endif %}
		{% endif %}
	{% else %}

		<a href="{{ path('library_homepage') }}" class="btn btn-default">
		  <i class="glyphicon glyphicon-chevron-left"></i>
		  Cancel
		</a> 

	{% endif %}



{% endblock %}