{# src/LeHibouc/EBookLibraryBundle/Resources/views/Advert/index.html.twig #}

{% extends "EBookLibraryBundle::layout.html.twig" %}

{% block library_content %}

	<h2>Books</h2>

	<h4> Research feature TODO </h4>
	
	{% if is_granted('ROLE_ADMIN') %}
		<a href="{{ path('library_add_book') }}" class="btn btn-default">
		  <i class="glyphicon glyphicon-save"></i>
		  Add a book
		</a>
	{% endif %}

	<ul>
		{% for book in list %}
		<li>
			<a href="{{ path('library_book', {'slug': book.slug}) }}">{{ book.title }}</a>
			, by {{ book.author }}.
			<span class="btn btn-default">
				<i class="glyphicon glyphicon-eye-open"></i>
			</span>
			{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path('library_edit_book', {'slug': book.slug}) }}" class="btn btn-default">
						<i class="glyphicon glyphicon-pencil"></i>
					</a>

					<a href="{{ path('library_delete_book', {'slug': book.slug}) }}" class="btn btn-danger">
					  <i class="glyphicon glyphicon-trash"></i>
					</a>
				{% else %}
					<a href="{{ path('user_borrow', {'slug': book.slug}) }}" class="btn btn-default">
						<i class="glyphicon glyphicon-log-in"></i>
					</a>
				{% endif %}
			{% endif %}
		</li>
		{% endfor %}
	</ul>


	<ul class="pagination">
		{% for p in range(1, nbPages) %}
		<li{% if p == page %} class="active"{% endif %}>
			<a href="{{ path('library_homepage', {'page': p}) }}">{{ p }}</a>
		</li>
		{% endfor %}
	</ul>

{% endblock %}