{# src/LeHibouc/AppBundle/Resources/views/User/index.html.twig #}

{% extends "AppBundle::layout.html.twig" %}

{% block fos_user_content %}

	 <h2> My Books </h2>

	 <p>
	 	{% if list is empty %}
	 		You have no book borrowed
	 	{% else %}
	 		<ul>
	 		{% for borrow in list %}
	 			<li>
	 				<a href="{{ path('library_book', {'slug': borrow.book.slug}) }}">
	 				{{ borrow.book.title }}</a>, borrowed since {{ borrow.borrow.format('d/m/Y') }}
	 				<a href="{{ path('library_read_book', {'slug': borrow.book.slug}) }}" class="btn btn-default" target="_blank">
						<i class="glyphicon glyphicon-eye-open"></i>
					</a>
	 				<a href="{{ path('user_return_book', {'slug': borrow.book.slug}) }}" class="btn btn-primary">
						<i class="glyphicon glyphicon-log-out"></i>
					</a>
	 			</li>
	 		{% endfor %}
	 		</ul>
	 	{% endif %}
	 </p>

	 <h2> My Track </h2>

	 <div id="trace-widget"></div>

	 <script type="text/javascript" src="javascript/d3.js"></script>
	 <script type="text/javascript" src="javascript/jquery.js"></script>
	 <script type="text/javascript" src="javascript/jquery.mousewheel.js"></script>

     <script type="text/javascript" src="javascript/Samotraces.js">
        function init() {
            // Create logical objects
            var trace        = new Samotraces.LocalTrace();
            var tw            = new Samotraces.TimeWindow({start: 0,end: 20});

            // Add obsels to the trace
            trace.create_obsel({type: 'click', begin: 1});
            trace.create_obsel({type: 'click', begin: 5});
            trace.create_obsel({type: 'click', begin: 12});

            // Create widgets
            new Samotraces.UI.Widgets.TraceDisplayIcons('trace-widget',trace,tw);
        }

		// calling the init function when the DOM has been loaded
		window.addEventListener('DOMContentLoaded', init );
     </script>
 
{% endblock fos_user_content %}
